<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sushi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sushi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sushi"
        tools:targetApi="31">
        <activity
            android:name=".MyDetailsOrderActivity"
            android:exported="false" />
        <activity
            android:name=".MyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingBagActivity"
            android:exported="false" />
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:theme="@style/Theme.Sushi" />
        <activity
            android:name=".AddProducts"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        
        <activity
            android:name=".ZastavkaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity2"
            android:exported="false" />
    </application>

</manifest>